<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="Connection" connectionString="Server=DESKTOP-3LF9ATD;Database=NStienphong;Integrated Security=true;"/>
		<!--<add name="Connection" connectionString="Server=DESKTOP-8NK10G7\SQLEXPRESS;Database=NStienphong1;Integrated Security=true;"/>-->
		<!--<add name="Connection" connectionString="workstation id=tienphong.mssql.somee.com;packet size=4096;user id=cuongnb3698_SQLLogin_1;pwd=kmyu2jfwae;data source=tienphong.mssql.somee.com;persist security info=False;initial catalog=tienphong"/>-->
	</connectionStrings>
</configuration>